/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Fuzzy+Bubbles:wght@400;700&family=Gabriela&display=swap');

* {
    box-sizing: border-box;
}
  
html {
    background-color: #FFF0C6;
    color: #5C0F59;
    scroll-behavior: smooth;
    font-family: 'Fredoka', sans-serif;
}
  
[hidden] {
    display: none !important;
}

/* Styling for buttons */
.button {
    /* Background */
    border-width: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Font */
    font-family: 'Fredoka', sans-serif;
    color: white;

    /* Positioning */
    margin: 10px;
    padding: 15px;
}

/* Div container for buttons */
.choices {
    /* Positioning */
    margin: auto;
    width: 80%;
    padding: 10px;
    overflow: hidden;
}

#default {
    /* Background */
    background-color: #69CEEE;
}

#custom {
    /* Background */
    background-color: #FD8C7A;
}

/* Footer */
.footer {
    /* Font */
    font-size: 10pt;

    /* Positioning */
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#title {
    font-family: 'Gabriela', serif;
}