/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Fuzzy+Bubbles:wght@400;700&family=Gabriela&display=swap');

* {
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}
  
[hidden] {
    display: none !important;
}
